:root {
    --bg-color-main: #0B0F14;
    --bg-color-section: #121821;
    --bg-color-address-input-console: #0D131B;
    --bg-color-voir-wallet-button: #5CC8FF;
    --bg-color-voir-transaction-button: #FFFFFF;
    --text-color-main-title: #FFFFFF;
    --text-color-astuce-subtitle: #A5B1C2;
    --text-color-primary: #E8EEF7;
    --text-color-input: #545454;
    --text-color-in-transaction: #1DD1A1;
    --text-color-out-transaction: #FF6B6B;
    --text-color-voir-wallet-transaction-button: #000000;
    --border-color: #FFFFFF0F;
    --border-radius-input-button: 12px;
    --border-radius-sections: 16px;
    font-family: "roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--bg-color-main);
    min-height: 100vh;
    line-height: 1;
}

.page_wrapper {
    width: 100%;
    max-width: 421px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 64px 48px;
    margin: 0 auto;
}

header {
    width: 100%;
    max-width: 325px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    text-align: center; 
}

header h1.mobile_title {
    font-size: 32px;
    line-height: 1;
    color: var(--text-color-main-title);
    font-weight: 700;
}

header p#header_subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: var(--text-color-astuce-subtitle);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#wallet_search {
    background-color: var(--bg-color-section);
    width: 100%;
    max-width: 325px;
    margin: 0 auto;
    border-radius: var(--border-radius-input-button);
    border: 1px solid var(--border-color);
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#wallet_search form {
    width: 100%;
    max-width: 285px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#wallet_search form .input_button {
    display: flex;
    flex-direction: column;
}

#wallet_search h1 {
    color: var(--text-color-primary);
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    margin-bottom: 12px;
}

#wallet_search input {
    width: 100%;
    max-width: 285px;
    min-height: 43px;
    padding: 12px 14px;
    border-radius: var(--border-radius-input-button);
    border: 1px solid var(--border-color);
    color: var(--text-color-input);
    font-size: 14px;
    line-height: 1;
    background-color: var(--bg-color-address-input-console);
}

#wallet_search input:focus {
    background-color: var(--bg-color-address-input-console);
    color: var(--text-color-primary);
    outline: none;
}

#wallet_search button {
    background-color: var(--bg-color-voir-wallet-button);
    color: var(--text-color-voir-wallet-transaction-button);
    border-radius: var(--border-radius-input-button);
    border: unset;
    max-width: 285px;
    min-height: 43px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#wallet_search button:hover {
    background-color: #00aaff;
    transform: translateY(-2px);
}

#wallet_search p#astuce_wallet_info {
    color: var(--text-color-astuce-subtitle);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    line-height: 1;
}

section#balance_transactions {
    width: 100%;
    max-width: 325px;
    margin-top: 24px;
    min-height: 422px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#balance_transactions section#balance {
    width: 100%;
    max-width: 325px;
    max-height: 154px;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: var(--border-radius-sections);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-section);
}

.section_h1 {
    color: var(--text-color-primary);
    font-size: 24px;
    font-weight: 700;
}

#balance span#address_display {
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
}

#balance span#balance_amount_display {
    color: var(--text-color-primary);
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

#balance_transactions section#transactions {
    width: 100%;
    max-width: 325px;
    min-height: 252px;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-sections);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-section);
}

.transaction_item {
    width: 100%;
    max-width: 285px;
    min-height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
}

.in_transaction {
    color: var(--text-color-in-transaction);
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
}

.out_transaction {
    color: var(--text-color-out-transaction);
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
}

.transaction_amount {
    color: var(--text-color-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}

.voir_transaction_button {
    text-decoration: none;
    border-radius: var(--border-radius-input-button);
    background-color: var(--bg-color-voir-transaction-button);
    color: var(--text-color-voir-wallet-transaction-button);
    padding: 12px 16px;
    max-width: 62px;
    min-height: 43px;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
    border: unset;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.voir_transaction_button:hover {
    background-color:#A5B1C2;
    transform: translateY(-2px);
}

hr {
    width: 100%;
    max-width: 285px;
    height: 1px;
    border: unset;
    background-color: #303844;
    margin: 8px auto;
}

section#console {
    width: 100%;
    max-width: 325px;
    min-height: 157px;
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: var(--border-radius-sections);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-section);
    margin-top: 24px;
}

#console h1.console_title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: var(--text-color-primary);
}

#console div#console_output {
    background-color: var(--bg-color-address-input-console);
    width: 100%;
    max-width: 285px;
    min-height: 81px;
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--border-radius-input-button);
    border: 1px solid var(--border-color);
}

.console_output_line {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: var(--text-color-primary);
    word-wrap: break-word;
}

@media (min-width: 1024px) {
    .page_wrapper {
        width: 100%;
        max-width: 1443px;
        min-height: 1024px;
        padding: 64px 256px;
        gap: 24px;
    }

    header {
        max-width: 931px;
        min-height: 69px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    section#wallet_search {
        width: 100%;
        max-width: 931px;
        min-height: 136px;
        padding: 18px 20px;
        gap: 12px;
    }

    #wallet_search form {
        width: 100%;
        max-width: 891px;
        min-height: 43px;
        margin: 0 auto;
    }

    #wallet_search form .input_button {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #wallet_search input {
        width: 100%;
        max-width: 752px;
        min-height: 43px;
        margin-right: 12px;
    }

    #wallet_search input:focus {
        background-color: var(--bg-color-address-input-console);
        color: var(--text-color-primary);
        outline: none;
    }

    #wallet_search p#astuce_wallet_info {
        text-align: left;
    }

    section#balance_transactions {
        width: 100%;
        max-width: 931px;
        min-height: 294px;
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    #balance_transactions section#balance {
        width: 100%;
        max-width: 457.5px;
        max-height: 294px;
        padding: 18px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    #balance_transactions section#transactions {
        width: 100%;
        max-width: 457.5px;
        min-height: 294px;
        padding: 18px 20px;
    }

    .transaction_item {
        width: 100%;
        max-width: 417.5px;
        min-height: 43px;
    }

    hr {
        max-width: 457.5px;
    }

    section#console {
        width: 100%;
        max-width: 931px;
    }

    #console div#console_output {
        width: 100%;
        max-width: 891px;
    }
}









